/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
body {background: black; color: white}
canvas {display: block;}

@font-face {
    font-family: Jedi;
    src: url(../fonts/starjhol.ttf) format('truetype');
}

a {text-decoration: underline; color: #fff;}

.wrapper {
   height: 100% !important;
   height: 100%;
   margin: 0 auto; 
   overflow: hidden;
}

.thumbnail {
   width: 200px;
   height: 200px;
   border: 2px solid white;
   border-radius: 100px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   text-align: center;
}



/* PAGE 1 */
.main section.page1 {
   background: -webkit-canvas(matrix);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.main section.page1 .page_container {
  position: relative;
  top: 50%;
  margin-top: -160px;
  left: 0;
  width: 100%;
}

.main section.page1 .content {
   color: #D6D6D6;
   margin-left: auto;
   margin-right: auto;
   height: 280px;
   text-align: center;
   font-family: "Courier New", monospace;  
   opacity: 0.75;
   text-shadow: 1px 4px 6px #000, 0 0 0 #000, 1px 4px 6px #000;
}

.main section.page1 .content .heading {
   -webkit-animation-delay: 1s; /* Safari and Chrome */
    animation-delay: 1s;
    font-size: 7em;
    font-weight: bold;
}

.main section.page1 .content .desc {
   -webkit-animation-delay: 2s; /* Safari and Chrome */
    animation-delay: 2.5s;
    font-size: 2.5em;
    font-weight: bold;
}

.main section.page1 .content .scroll {
   -webkit-animation-delay: 3s; /* Safari and Chrome */
    animation-delay: 3s;
    color: #fff;
    font-size: 1em;
}

.main section.page1 .content .resume {
   -webkit-animation-delay: 5s; /* Safari and Chrome */
    animation-delay: 5s;
    color: #fff;
    font-size: 1em;
}

/* PAGE 2 */
.main section.page2 {
   background: black;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.main section.page2 .page_container {
  position: relative;
  top: 50%;
  margin-top: -225px;
  left: 0;
  width: 100%;
}

.main section.page2 .content {
   position: relative;
   color: #D6D6D6;
   margin-left: auto;
   margin-right: auto;
   height: 280px;
   text-align: center;
   z-index: 10;
   font-family: sans-serif;
   width: 75%;
   text-shadow: 1px 4px 6px #000, 0 0 0 #000, 1px 4px 6px #000;
}

.main section.page2 .content .tag {
   color: #E7FF00;
   font-size: 2.5em;
   font-family: Jedi, monospace;  
}

.main section.page2 .content .quote {
   color: #fff;
   font-size: 1.5em;
   font-family: 'Source Sans Pro', sans-serif; 
   font-style: italic;
   font-weight: 300;
}

.main section.page2 .content .about {
   color: white;
   position: relative;
   font-size:1.25em;
   font-family: 'Source Sans Pro', sans-serif; 
   text-align: center;
}


/* PAGE 3 */
.main section.page3 {
   background: white url('http://studentlife.ucr.edu/images/school_spirit_bearlogo.png') no-repeat right bottom;
}

.main section.page3 .page_container {
  position: relative;
  top: 50%;
  margin-top: -300px;
  left: 0;
  width: 100%;
}

.main section.page3 .content {
   font-family: 'Source Sans Pro', sans-serif; 
   color: #003D76;
   margin-left: auto;
   margin-right: auto;
   height: 280px;
   width: 80%;
}


/* PAGE 4 */
.main section.page4 {
   background: #d9b346;
}

.main section.page4 .page_container {
  position: relative;
  top: 50%;
  margin-top: -315px;
  left: 0;
  width: 100%;
}

.main section.page4 .content {
   font-family: 'Source Sans Pro', sans-serif; 
   color: #003D76;
   margin-left: auto;
   margin-right: auto;
   height: 280px;
   width: 80%;
}

.main section.page4 .header {
  font-size: 5em;
  text-align: center;
  font-family: 'Lobster', 'Source Sans Pro', sans-serif;
}

.main section.page4 .tag {
  font-size: 1.5em;
  text-align:center;
}

.projects {
}

.project {
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 50%;
}

.project:hover {
  opacity: .2;
}

.item .desc {
  display: none;
  position: relative;
  font-size: 1.1em;
  color: white;
  z-index: 1;
  position: absolute;
  width: 65%;
  top: 35%;
  text-align: center;
}

.item:hover .desc{
  display:block;
}

.desc:hover + .project {
  opacity: .3;
}

.modal {
   color: #003D76;
   overflow: scroll;
}

.align-center {
  text-align: center;
}

/* soccer ball*/
.soccer {
  /*background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);*/
  background: url(../img/soccer2.png);
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-animation:roll 4.5s infinite;
  -moz-animation:roll 4.5s infinite;
  animation:roll 4.5s infinite;
}

@-moz-keyframes roll {  
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:90%; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:90%; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

@keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:90%; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

.world-cup {
  color: #17A10B;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  text-shadow: -2px 4px 0px #494E52;
  margin-top: 25px;
}
.world-cup .o {
  color: #D91C00;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.world-cup .r {
  color: #336099;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.world-cup .l {
  color: white;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.world-cup .d {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.world-cup .c {
  color: #D91C00;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.world-cup .u {
  color: #336099;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.world-cup .p {
  color: white;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.world-cup .ex {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.world-cup .logo {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  width: 80px;
  height: 100px;
}


/* PAGE 5 */
.main section.page5 {
   background: #525252;
 }

.main section.page5 .page_container {
  position: relative;
  top: 50%;
  margin-top: -300px;
  left: 0;
  width: 100%;
}

.main section.page5 .content {
   font-family: 'Source Sans Pro', sans-serif; 
   color: white;
   margin-left: auto;
   margin-right: auto;
   height: 280px;
   width: 80%;
}

.main section.page5 .content .header {
  font-size: 5em;
  text-align: center;
}

.main section.page5 .content .tag {
  font-size: 2em;
  color: #7F7F7F;
  text-align: center;
}

.main section.page5 .content .info {
  font-size: 1.5em;
  margin-top: 25px;
}

.info.top {
  padding-top: 25px;
}

.info.bottom {
  padding-bottom: 25px;
}

.main section.page5 i {
  color: #7F7F7F;
  text-align: center;
  border: 1px solid #7F7F7F;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 2.5px;
  margin-left: 35px;
  margin-right: 15px;
}

.main section.page5 i:hover {
  color: white;
}

.main section.page5 hr {
  color: #7F7F7F;
}

.main section.page5 a {
  text-decoration: none;
}
.main section.page5 a:hover{
  color: #7F7F7F;
}

.badges {
  background: #525252;
  text-align: center;
}